doctype html
html
  head
    title DISASTER DATA
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
    
    link(rel="stylesheet" href="/bower_components/materialize/extras/noUiSlider/nouislider.css")

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/materialize/dist/js/materialize.min.js")
    
    block extra-head

  body
    block content
  
  block extra-js
